@import '../../variable.css';

.notification-wrapper {
    display: flex;
    background-color: var(--gray-50);
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.notification-wrapper.success{
    background-color: var(--green-50);
}

.notification-wrapper.caution{
    background-color: var(--orange-50);
}

.notification-wrapper.error{
    background-color: var(--red-50);
}

.notification-wrapper.failed{
    background-color: var(--red-50);
}

.notification-wrapper.info{
    background-color: var(--blue-50);
}

.notification-wrapper p {
    margin: 0px;
    margin-right: 10px;
    text-align: left;
}

.notification-wrapper .message {
    color: var(--gray-900);
    font-size: 0.8rem;
}

.message-container {
    width: 100%;
    padding: 5px;
}

.notification-wrapper .time {
    display: flex;
    align-items: center;
    color: var(--gray-500);
    width: max-content;
    margin-left: auto;
    font-size: 0.8rem;
}

.notification-wrapper .icon {
    color: var(--gray-900);
    margin-bottom: auto;
    padding: 0px 10px 0px 0px;
}

.notification-wrapper .icon.caution {
    color: var(--primary-orange);
}

.notification-wrapper .icon.error {
    color: var(--primary-red);
}

.notification-wrapper .icon.failed {
    color: var(--primary-red);
}

.notification-wrapper .icon.info {
    color: var(--primary-blue);
}

.notification-wrapper .icon.success {
    color: var(--primary-green);
}

.notification-wrapper .close-button {
    color: var(--gray-500);
    height: 28px;
}

.notification-wrapper .close-button:hover {
    color: var(--gray-900);
    cursor: pointer;
}