@import '../../variable.css';

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
}

.input-wrapper .title {
    margin-bottom: 2px;
}

.input-value {
    font-family: inherit;
    height: 30px;
    border: 1px solid var(--gray-600);
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px; /* Add padding to the right for the suffix */
    box-sizing: border-box;
    width: 100%;
}

.input-suffix-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-suffix {
    position: absolute;
    right: 10px; /* Position the suffix inside the input field */
    color: var(--gray-600);
    margin-top: -2px;
    pointer-events: none; /* Prevent interaction with the suffix */
}

.date-time-container {
    display: flex;
    gap: 10px;
}

.date-time-container .input-value {
    padding: 8px;
    font-size: 14px;
    width: 100%;
}

/* Hide spinner in input[type="number"] for WebKit browsers (Chrome, Safari) */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spinner in input[type="number"] for Firefox */
.no-spinner[type="number"] {
    -moz-appearance: textfield;
}

.areaField-wrapper {
    width: 100%; /* Ensure the wrapper takes full width */
}

.areaField-input-value {
    width: 100%; 
    height: auto; 
    resize: none;
    font-family: inherit;
    overflow: hidden; 
    overflow-y: scroll; 
    border-radius: 6px;
    box-sizing: border-box;
}

/* Scrollbar */
.areaField-input-value::-webkit-scrollbar {
    width: 8px;
}

.areaField-input-value::-webkit-scrollbar-thumb {
    background: var(--gray-400);
    border-radius: 10px;
}

.areaField-input-value::-webkit-scrollbar-thumb:hover {
    background: var(--blue-500);
}