@import '../../variable.css';

.floorButton-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px;
}

.floorButton-wrapper:hover .title{
    color: var(--gray-900);
}

.floorButton-wrapper .title{
    color: var(--gray-500);
}

.floorButton-wrapper .title.selected{
    color: var(--gray-900);
}

.floor{
    background-color: var(--gray-400);
    height: 5px;
    width: 100%;
    border-top-left-radius: 8px;
    /* Apply radius to top-left corner */
    border-top-right-radius: 8px;
    /* Apply radius to top-right corner */
}
.floorButton-wrapper:hover{
    cursor: pointer;
}

.floorButton-wrapper:hover .floor{
    background-color: var(--blue-500);
}

.floor.selected{
    color: var(--gray-900);
    background-color: var(--blue-900);
}

.floorButton-wrapper .title{
    margin: 10px 0px;
}