@import '../../variable.css';

/* Kontainer utama */
.page-container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: var(--primary-white);
    border-radius: 8px;
    height: 100%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.content-wrapper {
    position: relative;
    background-color: var(--gray-200);
    border-radius: 6px;
    height: calc(100% - 45px);
    width: 100%;
    margin-top: 5px;
    overflow-y: auto;
    box-sizing: border-box;
}

/* Scrollbar */
.content-wrapper::-webkit-scrollbar {
    width: 8px;
}

.content-wrapper::-webkit-scrollbar-thumb {
    background: var(--gray-400);
    border-radius: 10px;
}

.content-wrapper::-webkit-scrollbar-thumb:hover {
    background: var(--blue-500);
}

.details-container {
    top: 50px;
    right: 0px;
    position: absolute;
    z-index: 1;
    padding: 5px 10px 5px 0px;
    width: 350px;
    height: calc(100% - 55px);
    box-sizing: border-box;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.details-container.fade-in {
    animation: fadeInSlideRight 0.3s forwards;
}

.details-container.fade-out {
    animation: fadeOutSlideRight 0.3s forwards;
}

.editDetails-container {
    position: absolute;
    z-index: 1;
    height: calc(100%);
    box-sizing: border-box;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.editDetails-container.fade-in {
    animation: fadeInSlideRight 0.3s forwards;
}

.editDetails-container.fade-out {
    animation: fadeOutSlideRight 0.3s forwards;
}

@keyframes fadeInSlideRight {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutSlideRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(60px);
    }
}

/* Header konten */
.header-container {
    display: flex;
    align-items: center;
}

.menu-title {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0px 0px 0px 5px;
}

.sidebar-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: 40px;
    width: 40px;
    color: var(--gray-900);
}

.sidebar-toggle:hover {
    background-color: var(--blue-200);
    color: var(--gray-900);
}

.config-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-left: auto;
}

.config-button {
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.config-button:hover {
    background-color: var(--blue-200);
    color: var(--gray-900);
}

.site-option {
    margin-right: 10px;
}

.site-option .input-wrapper {
    margin-top: 0;
}

.notification-number {
    position: absolute;
    right: 0px;
    top: 5px;
    height: 18px;
    min-width: 18px;
    width: fit-content;
    background-color: var(--primary-red);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-number p {
    position: relative;
    margin: 0px 3px;
    font-size: 0.8rem;
    text-align: right;
    font-weight: 600;
    color: var(--gray-50);
}

.user-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-200);
}

.open {
    background-color: var(--blue-900);
    color: var(--gray-50);
}

.sidebar {
    width: auto;
    max-width: 250px;
    transition: max-width 0.3s ease, opacity 0.8s ease;
    margin-right: 5px;
}

.sidebar.hidden {
    max-width: 0px;
    opacity: 0;
    margin-right: 0px;
    overflow: hidden;
    transition: max-width 0.3s ease, opacity 0.8s ease, margin-right 0.1s ease 0.15s;
}

.sidebar.visible {
    width: auto;
    max-width: 250px;
    opacity: 1;
    margin-right: 5px;
    transition: max-width 0.3s ease, opacity 0.8s ease, margin-right 0.2s ease;
}

/* Styling untuk Tooltip */
.tooltip {
    display: flex;
    align-items: center;
    position: absolute;
    height: 24px;
    z-index: 2;
    background-color: var(--blue-900);
    color: var(--gray-50);
    padding: 5px 10px 5px 15px;
    border-top-left-radius: 8px;
    /* Apply radius to top-left corner */
    border-top-right-radius: 8px;
    /* Apply radius to top-right corner */
    border-bottom-right-radius: 8px;
    /* Apply radius to bottom-right corner */
    border-bottom-left-radius: 0px;
    /* No radius for the bottom-left corner */
    font-size: 0.9rem;
    white-space: nowrap;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tooltip p {
    color: var(--gray-50);
    margin: 0px;
}

/* Popup Notification Style */
.popup-notification {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 5px;
    z-index: 2;
}

/* Animasi Fade In + Slide Up */
@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(60px);
        /* Mulai dari bawah */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Akhiri di posisi */
    }
}

/* Animasi Slide Up untuk Elemen Tengah */
.notification-slide-up {
    animation: slideUp 0.3s ease-in-out;
}

@keyframes slideUp {
    0% {
        transform: translateY(60px);
    }

    100% {
        transform: translateY(0px);
        /* Bergeser ke atas */
    }
}

/* Animasi Fade Out + Slide Up */
@keyframes fadeOutSlideUp {
    0% {
        opacity: 1;
        transform: translateY(60px);
    }

    100% {
        opacity: 0;
        transform: translateY(0px);
        /* Menghilang sambil bergeser */
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Elemen Baru Masuk */
.notification-enter {
    animation: fadeInSlideUp 0.3s ease-out forwards;
}

/* Elemen Lama Keluar */
.notification-exit {
    animation: fadeOutSlideUp 0.3s ease-in forwards;
}

.popup-notification .notification-wrapper {
    animation: fadeOut 0.3s ease-in forwards;
    animation-delay: 3s;
    /* Delay 2 detik untuk memberikan waktu animasi */
}

.notification-dropdown {
    background-color: var(--gray-200);
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    width: 400px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
    right: 120px;
    top: 55px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
    max-height: calc(70% - 65px);
}

.notification-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* Ubah dari scroll ke auto agar lebih dinamis */
    width: 100%;
    row-gap: 5px;
    padding-right: 8px;
    /* Tambahkan padding agar scrollbar tidak menimpa konten */
    padding-bottom: 5px;
}

.settings-dropdown {
    background-color: var(--gray-200);
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    width: 400px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
    right: 70px;
    top: 55px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
    max-height: calc(70% - 65px);
}

.profile-dropdown {
    background-color: var(--gray-200);
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    width: 400px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
    right: 10px;
    top: 55px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
    max-height: calc(70% - 65px);
}

/* Scrollbar */
.notification-container::-webkit-scrollbar {
    width: 8px;
}

.notification-container::-webkit-scrollbar-thumb {
    background: var(--gray-400);
    border-radius: 10px;
}

.notification-container::-webkit-scrollbar-thumb:hover {
    background: var(--blue-200);
}

.clear-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 24px;
    margin-left: auto;
    margin-top: 5px;
    padding: 5px;
    border-radius: 6px;
    color: var(--gray-600);
}

.clear-button p {
    font-size: 0.9rem;
    margin: 0px;
}

.clear-button:hover {
    color: var(--gray-900);
    cursor: pointer;
}