@import '../../variable.css';

/* Kontainer utama */
.page-container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: var(--gray-50);
    border-radius: 8px;
    height: 100%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.content-wrapper {
    background-color: var(--gray-300);
    border-radius: 6px;
    height: calc(100% - 45px);
    width: 100%;
    margin-top: 5px;
    overflow-y: auto;
    padding: 5px;
    box-sizing: border-box;
}

/* Scrollbar */
.content-wrapper::-webkit-scrollbar {
    width: 8px;
}

.content-wrapper::-webkit-scrollbar-thumb {
    background: var(--gray-400);
    border-radius: 10px;
}

.content-wrapper::-webkit-scrollbar-thumb:hover {
    background: var(--blue-200);
}

/* Header konten */
.header-container {
    display: flex;
    align-items: center;
}

.menu-title {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0px 0px 0px 5px;
}

.sidebar-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 40px;
    width: 40px;
    color: var(--gray-900);
}

.sidebar-toggle:hover {
    background-color: var(--blue-200);
    color: var(--gray-900);
}

.open {
    background-color: var(--blue-900);
    color: var(--gray-50);
}

.config-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-left: auto;
}

.config-button {
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.config-button:hover {
    background-color: var(--blue-200);
}

.user-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-200);
}

.sidebar {
    width: auto;
    max-width: 250px;
    transition: max-width 0.3s ease, opacity 0.8s ease;
    margin-right: 5px;
}

.sidebar.hidden {
    max-width: 0px;
    opacity: 0;
    margin-right: 0px;
    overflow: hidden;
    transition: max-width 0.3s ease, opacity 0.8s ease, margin-right 0.2s ease;
}

.sidebar.visible {
    width: auto;
    max-width: 250px;
    opacity: 1;
    margin-right: 5px;
    transition: max-width 0.3s ease, opacity 0.8s ease, margin-right 0.2s ease;
}

/* Styling untuk Tooltip */
.tooltip {
    display: flex;
    align-items: center;
    position: absolute;
    height: 24px;
    z-index: 1;
    background-color: var(--blue-900);
    color: var(--gray-50);
    padding: 5px 10px 5px 15px;
    border-top-left-radius: 8px;  /* Apply radius to top-left corner */
    border-top-right-radius: 8px; /* Apply radius to top-right corner */
    border-bottom-right-radius: 8px; /* Apply radius to bottom-right corner */
    border-bottom-left-radius: 0px; /* No radius for the bottom-left corner */
    font-size: 0.9rem;
    white-space: nowrap;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tooltip p {
    margin: 0px;
}