@import '../../../variable.css';

.generateQR-container {
    box-sizing: border-box;
    overflow-x: hidden;
}

.qrGenerator-container {
    padding: 5px;
}

.qr-image-container {
    background-color: var(--gray-50);
    padding: 10px;
    border: 1px solid var(--gray-500);
}

.qr-image-container img {
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 5;
}

.qrGenerator-wrapper {
    display: flex;
}