@import '../../../variable.css';

.generateQR-container {
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 5px;
}

.qrGenerator-container {
    background-color: var(--gray-50);
    padding: 10px;
    border-radius: 6px;
    overflow: hidden;
    width: fit-content;
}

.qrGenerator-container .container-title {
    font-size: larger;
    margin-bottom: 10px;
}

.qr-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-50);
    border: 1px solid var(--gray-500);
    border-radius: 6px;
    overflow: hidden;
    width: 300px;
    height: 337.5px;
}

.qr-image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.qrGenerator-wrapper {
    display: flex;
    gap: 10px;
}

.qr-input-wrapper {
    width: fit-content;
}

.site-dropdown {
    font-family: inherit;
    height: 30px;
    width: 100%;
    border: 1px solid var(--gray-600);
    border-radius: 6px;
    padding-left: 5px;
    box-sizing: border-box;
    color: var(--gray-900);
}

.qr-number-value {
    font-family: inherit;
    height: 30px;
    width: 100%;
    border: 1px solid var(--gray-600);
    border-radius: 6px;
    padding-left: 5px;
    box-sizing: border-box;
    color: var(--gray-900);
}

.qr-button-container {
    display: flex;
    margin-top: auto;
    justify-content: space-around;
}

.qr-input-container {
    margin-top: 10px;
}

.generating-progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}