@import '../../variable.css';

.verificationForm-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-white);
    border-radius: 6px;
    margin: 5px;
    width: auto;
    height: calc(100% - 10px);
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Tambahkan bayangan */
}

.verificationForm-header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.verificationForm-qrCode {
    display: flex;
    align-items: center;
    border-radius: 6px;
    color: var(--gray-900);
    padding: 5px;
}

.verificationForm-qrCode:hover {
    cursor: pointer;
    background-color: var(--blue-200);
}

.verificationForm-qrCode .icon {
    padding: 0px 10px 0px 0px;
}

.verificationForm-qrCode p {
    margin: 0px;
    font-weight: 600;
}

.verificationForm-header-button {
    display: flex;
    margin-left: auto;
}

.verificationForm-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    border-radius: 6px;
    padding: 5px;
    width: 28px;
    height: 28px;
    color: var(--gray-900);
}

.verificationForm-close-button:hover {
    cursor: pointer;
    background-color: var(--blue-200);
}

.verificationForm-form-wrapper {
    position: relative;
    right: -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 200px;
    padding-right: 10px;
}

.verificationForm-form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.verificationForm-field-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.verificationForm-image-wrapper {
    max-width: 400px;
    width: 100%;
}

/* Scrollbar */
.verificationForm-form-container::-webkit-scrollbar {
    width: 8px;
}

.verificationForm-form-container::-webkit-scrollbar-thumb {
    background: var(--gray-400);
    border-radius: 10px;
}

.verificationForm-form-container::-webkit-scrollbar-thumb:hover {
    background: var(--blue-500);
}

.verificationForm-footer-button-wrapper {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin: 20px 10px 50px auto;
    gap: 20px;
    width: fit-content;
}

.verificationForm-form-title {
    font-weight: 500;
    font-size: 1.2rem;
}

.verificationForm-form-date {
    margin-bottom: 10px;
}

.verification-comment-container{
    position: absolute;
    z-index: 5;
    right: 0px;
    bottom: 0px;
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--gray-50);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.verification-comment-container .verificationForm-footer-button-wrapper {
    margin: 20px 10px 0px auto;
}

.verification-comment-container.fade-in {
    animation: fadeInSlideRight 0.3s forwards;
}

.verification-comment-container.fade-out {
    animation: fadeOutSlideRight 0.3s forwards;
}

.verificationForm-shimmer-wrapper{
    display: flex;
    flex-direction: column;
    width: 200px; /* Sesuaikan dengan lebar detail */
}

/* Perbaikan shimmer effect */
.verificationForm-shimmer-line {
    width: 100%;
    height: 35px;
    background-color: var(--gray-300); /* Base solid color */
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
    display: block; /* Pastikan elemen block */
}

.verificationForm-shimmer-line::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, var(--gray-50) 50%, transparent 100%);
    animation: shimmer 1.5s infinite;
}

/* Shimmer animation */
@keyframes shimmer {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}