@import '../../variable.css';

.createAccountForm-wrapper{
    position: relative;
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-white);
    border-radius: 8px;
    padding: 30px;
    gap: 10px;
}

.form-title{
    font-size: 1.2rem;
    font-weight: 500;
}

.createAccountForm-header-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.createAccountForm-header-button{
    display: flex;
    margin-left: auto;
}

.createAccountForm-form-wrapper{
    position: relative;
    right: -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-right: 10px;
    gap: 20px;
}

.createAccountForm-button-container{
    margin-top: 30px;
    margin-left: auto;
}