@import '../../../variable.css';

.verification-container{
    padding: 5px;
    position: relative;
}

.floorButton-container{
    display: flex;
    background-color: var(--gray-50);
    align-items: end;
    border-radius: 6px;
    margin-bottom: 5px;
    padding: 5px 5px 0px 5px;
    gap: 5px;
}