@import '../../variable.css';

.actionButton-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: 35px;
    min-width: 80px;
    overflow: hidden;
    padding: 0px 10px;
}

.actionButton-wrapper .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-900);
    padding: 0;
    margin: 0px 5px 0px 0px;
}

.actionButton-wrapper p {
    color: var(--gray-900);
}

.actionButton-wrapper:hover {
    background-color: var(--blue-200);
    cursor: pointer;
}

.ghost {
    background-color: none;
}

.ghost p{
    color: var(--gray-900);
}

.ghost .actionButton-wrapper .icon {
    color: var(--gray-900);
}

.ghost:hover {
    background-color: var(--gray-400);
}

.primary {
    background-color: var(--blue-500);
}

.primary p{
    color: var(--gray-50);
}

.primary .icon {
    color: var(--gray-50);
}

.primary:hover {
    background-color: var(--blue-600);
}

.secondary {
    border: solid 2px var(--gray-600);
}

.secondary p{
    color: var(--gray-900);
}

.secondary .icon {
    color: var(--gray-900);
}

.secondary:hover {
    background-color: var(--gray-400);
}

.danger {
    background-color: var(--red-500);
}

.danger p{
    color: var(--gray-50);
}

.danger .icon {
    color: var(--gray-50);
}

.danger:hover {
    background-color: var(--red-600);
}

.confirm {
    background-color: var(--green-500);
}

.confirm p{
    color: var(--gray-50);
}

.confirm .icon {
    color: var(--gray-50);
}

.confirm:hover {
    background-color: var(--green-600);
}

.disabled{
    background-color: var(--gray-400);
}

.disabled:hover{
    background-color: var(--gray-400);
    cursor: unset;
}

.disabled p{
    color: var(--gray-600);
}

.disabled .icon {
    color: var(--gray-600);
}