@import '../../variable.css';

.sidebar-container {
    background-color: var(--gray-50);
    border-radius: 8px;
    width: 250px;
    height: 100%;
    /* Atur tinggi sidebar 100% dari body */
    padding: 10px;
    display: flex;
    /* Atur container menjadi flexbox */
    flex-direction: column;
    /* Susun elemen secara vertikal */
    overflow: hidden;
    box-sizing: border-box;
    transition: width 0.3s ease;
}

.sidebar-container.minimize p {
    display: none;
}

.sidebar-container.minimize {
    width: 69px;
}

/* Pastikan tidak ada garis bawah di link */
.sidebar-container a {
    text-decoration: none;
}


.brand-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: calc(100% + 90px);
}

.brand-wrapper img {
    height: 48px;
    width: 48px;
}

.brand-wrapper p {
    margin: 0px 0px 0px 10px;
    font-size: 26px;
    font-weight: 500;
}

.minimize-toggle {
    position: relative;
    display: flex;
    right: 80px;
    margin-left: auto;
    width: 15px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-900);
    color: var(--gray-50);
    border-top-left-radius: 6px;
    /* Radius untuk sudut kiri atas */
    border-bottom-left-radius: 6px;
    /* Radius untuk sudut kiri bawah */
}

.minimize-toggle:hover {
    background-color: var(--blue-200);
    color: var(--gray-900);
}

.chevron-icon {
    height: 24px;
}

.menu-wrapper {
    position: relative;
    /* Biarkan menu-wrapper mengisi ruang sisa */
    overflow-y: scroll;
    /* Tambahkan scroll bila konten terlalu panjang */
    width: calc(100% + 7px);
    padding-right: 5px;
    box-sizing: content-box;
}

/* Untuk scrollbar di dalam elemen yang mendukung -webkit */
.menu-wrapper::-webkit-scrollbar {
    width: 8px;
    /* Lebar scrollbar */
}

.menu-wrapper::-webkit-scrollbar-thumb {
    background: var(--gray-200);
    /* Warna thumb scrollbar */
    border-radius: 10px;
    /* Membuat thumb lebih membulat */
}

/* Hover effect untuk thumb scrollbar */
.menu-wrapper::-webkit-scrollbar-thumb:hover {
    background: var(--blue-500);
    /* Ubah warna ketika hover */
}

.divider-line {
    background-color: var(--gray-400);
    border-radius: 10px;
    height: 3px;
    width: auto;
}

.divider-name {
    color: var(--gray-500);
    margin: 0px;
    font-weight: 500;
}

.logout-wrapper {
    margin-top: auto;
}

.logout-wrapper .divider {
    margin-bottom: 10px;
}

.logout-button {
    background-color: none;
    height: 48px;
    border-radius: 6px;
    display: flex;
    /* Gunakan Flexbox untuk tata letak horizontal */
    align-items: center;
    /* Pusatkan secara vertikal */
    /* Tambahkan jarak antara ikon dan judul */
    color: white;
    /* Warna teks putih agar kontras dengan background */
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    margin-top: 10px;
}

.logout-button .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-red);
    padding: 10px;
    /* transition: transform 0.3s ease; */
}

.logout-button .title {
    color: var(--primary-red);
    font-size: 1rem;
    /* Ukuran teks */
    font-weight: 500;
    /* Tambahkan ketebalan teks */
    white-space: nowrap;
    /* Pastikan teks tetap satu baris */
}

.logout-button:hover {
    background-color: var(--blue-200);
}

.logout-button:hover * {
    color: var(--gray-900);
}

.divider.end{
    margin-top: auto;
}