@import './variable.css';

html,
body {
  background-color: var(--gray-200);
  height: 96.3%;
  /* Make the body and html elements take up the full height of the viewport */
  width: 99%;
  /* Make the body and html elements take up the full width of the viewport */
  margin: 0;
  /* Remove any default margin */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}

#root {
  height: 100%;
  width: 100%;
  margin: 5px;
}