@import './variable.css';

html {
  font-size: 16px;
  color: var(--gray-900);
}

/* Body */
body {
  background-color: var(--gray-300);
  height: calc(100vh - 10px); /* Menggunakan 100vh untuk memastikan bahwa tinggi sesuai dengan viewport */
  width: calc(100vw - 10px);  /* Menggunakan 100vw untuk memastikan lebar sesuai dengan viewport */
  margin: 0;
  font-family: 'Inter', 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

/* Root */
#root {
  height: 100%; /* Menyesuaikan root dengan body */
  width: 100%;  /* Menyesuaikan root dengan body */
  margin: 5px;    /* Hapus margin jika ada */
}