.map-wrapper {
    position: relative; /* Menjaga peta di dalam kontainer */
    height: 100%; /* Membuat container mengambil tinggi penuh layar */
    display: flex; /* Untuk mendukung tata letak fleksibel */
}

.leaflet-map {
    border-radius: 6px;
    width: 100%; /* Pastikan peta mengambil lebar penuh container */
    height: 100%; /* Pastikan peta mengambil tinggi penuh container */
    /* position: absolute; */
    z-index: 0;
}
