@import '../../variable.css';

.details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-white);
    border-radius: 6px;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
}

.details-header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.qrCode {
    display: flex;
    align-items: center;
    border-radius: 6px;
    color: var(--gray-900);
    padding: 5px;
}

.qrCode:hover{
    cursor: pointer;
    background-color: var(--blue-200);
}

.qrCode .icon{
    padding: 0px 10px 0px 0px;
}

.qrCode p{
    margin: 0px;
    font-weight: 600;
}

.header-button{
    display: flex;
    margin-left: auto;
}

.edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 5px;
    width: 28px;
    height: 28px;
    color: var(--gray-900);
}

.edit-button:hover{
    cursor: pointer;
    background-color: var(--blue-200);
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    border-radius: 6px;
    padding: 5px;
    width: 28px;
    height: 28px;
    color: var(--gray-900);
}

.close-button:hover{
    cursor: pointer;
    background-color: var(--blue-200);
}

.form-wrapper{
    position: relative;
    right: -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
    padding-right: 10px;
}

/* Scrollbar */
.form-wrapper::-webkit-scrollbar {
    width: 8px;
}

.form-wrapper::-webkit-scrollbar-thumb {
    background: var(--gray-400);
    border-radius: 10px;
}

.form-wrapper::-webkit-scrollbar-thumb:hover {
    background: var(--blue-500);
}

.shimmer-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%; /* Sesuaikan dengan lebar detail */
}

.shimmer-image {
    width: 300px;
    height: 400px;
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 6px; /* Tambahkan border-radius untuk konsistensi */
    margin-bottom: 15px;
}

.shimmer-field {
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 4px; /* Tambahkan border-radius untuk konsistensi */
    margin-bottom: 15px;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.detail-image-wrapper{
    width: 100%;
}
